- title('Create a Group')

%h1 Create a Group

.description
  Ready to create a group? Just pick a name and enter the email addresses of friends you want to send invitations to. Don't worry, you can always add more friends later.

= render 'form', group: @group