- title(@group.name)

%h1= @group.name

= render 'groups/members', group: @group

- if policy(@group).update?
  %h3 Invite New Users

  %div
    Send new invitations
    = render 'invitations/form', invitation: Invitation.new(group: @group)

  %div
    Share the following token to allow other users to join your group:
    .token= @group.token