- title(@group.name)

%h1= @group.name

= render 'groups/members', group: @group

- if policy(@group).update?
  %h3 Invite New Users
  %div
    Share the following token to allow other users to join your group:
    .token= @group.token

  = render 'groups/invitations', group: @group