- title('Dashboard')

%h1 Your Groups

- if @user.groups.any?
  = render partial: 'groups/group', collection: @user.groups

- else
  .no-groups
    .null
      Doesn't look like you're part of any groups just yet.
    .group-buttons
      = link_to('Create a Group', new_group_path, class: 'btn btn-primary')
      = link_to('Join a Group', '#', class: 'btn btn-primary')
