- title('Dashboard')

%h1 Your Groups

- if @user.groups.any?
  - @user.groups.each do |group|
    .row
      .sm-12-col.md-6.col

      .sm-12.col.md-6.col

- else
  .no-groups
    .null
      Doesn't look like you're part of any groups just yet.
    .group-buttons
      = link_to('Create a Group', new_group_path, class: 'btn btn-primary')
      = link_to('Join a Group', '#', class: 'btn btn-primary')
