.row
  .col-xs-12.col-md-7
    %h1 Gift Exchange in 3 Steps:

    .steps
      .step
        %h3
          = group_icon
          Step 1: Create a group
        %p Invite your friends and create optional rules for matching

      .step
        %h3
          = star_icon
          Step 2: Add a wishlist
        %p Add items to your wishlist so you don't end up with homemade potholders. Unless you want homemade potholders. We don't judge.

      .step
        %h3
          = gift_icon
          Step 3: Draw!
        %p When your group is all set to go, we will randomly pair each user with another. Don't worry, you can still make additions to your pesonal wishlist and we'll even alert your match when you add new items.

  .col-xs-12.col-md-5
    %h3 Ready to go?
    = link_to('Create a group', new_user_registration_path, class: 'btn btn-primary')
