// $dark_blue: #074485;
// $light_blue: #74a2d6;
// $crystal: #b4d8f2;

$light_red: #CC3333;
$red: #990000;

$light_green: #99CC66;
$green: #336600;

$light_blue: #D7E6EC;
$bue: #447D8E;

$light_gray:#e2e1e3;
$gray: #CCCCCC;
