body.pages-home {
  h1 {
    color: $brand-primary;
  }

  .steps {
    margin: 2em 0;

    .step:not(:last-of-type) {
      margin-bottom: 2em;
    }

    h3 {
      color: $brand-secondary;
      i {
        margin-right: 0.25em;
      }
    }

    p {
      padding-right: 1em;
      @media (min-width: 48em) {
        padding-right: 5em;
      }
    }
  }

  .auth-block {
    &:not(:last-of-type) {
      margin-bottom: 2em;
    }

    h4 {
      color: $brand-secondary;
    }

    .btn {
      display: block;
      text-align: center;
    }
  }

}