@import 'colors';

body.users-show {
  .no-groups {
    text-align: center;
  }

  .group-buttons {
    margin-top: 1.5em;
    text-align: center;

    .btn:first-of-type {
      margin-right: 0.5em;
    }
  }

  .group {
    h2 {
      display: inline-block;
    }

    .group-admin-title {
      color: $dark_gray;
      font-size: 0.5em;
    }

    a.group-details {
      margin-left: 1em;
    }
  }
}